# Virtual env
venv/
ENV/
env/
src/Gerais

# VSCode
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Excel temporaries
~$*.xlsx
~$*.xlsm
*.tmp

# Arquivos temporários da automação
temp/
*.csv

# Ignore creds (se algum dia tiver)
*.env
